# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment files
.env
.env.*

# Test coverage
coverage/
.nyc_output/
jest-coverage/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Altri file temporanei
*.log